* { /*Setear margenes generales para adaptar a cualquier navegador*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-self: center;
    position: relative;
}

html {
    font-size: 62.5%; /*Equivalencia para rem a 10px*/
}

.card-img-top{
    width:10rem !important;
    max-height: 15rem;
}

.card {
    width: 13rem;
    height: 22rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    background-color: #82b8ff42 !important;
}

.card:hover{
    background-color: coral;
    color: cornflowerblue;
    }

.card-title{
    font-size: 2rem;
    color: rgb(235, 235, 235);
}

.card-text{
    color: rgba(217, 255, 0, 0.733);
}

.card.img{
    max-height: 1rem;
}

.card-body{
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    font-family: 'Rampart One', cursive;
    }



.body{
    background-image: url(https://cdn.pixabay.com/photo/2016/08/27/11/59/pokemon-1624022_960_720.jpg);
    background-size:contain;
}

.container {
    margin-top: 7rem;
    margin-bottom: 10rem;
    flex-wrap: wrap ;
    display: flex;
    column-count: 8;
    column-gap: 10rem;
    width: 99%;
    position: relative;
} 

.logo img{
    height: 11rem;
    margin-left: 80rem;
}


.card-details {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: lightblue;
    margin-top: 20px;
}

/* .cardDetail {
    display: none;
    position: fixed;
    z-index: 5;
    
    left: 30%
    ;
    width: 40%;
    padding: 100px 0;
    text-align: center;
    background-color: grey;
    margin-top: 200px;
    border-radius: 7px;
} */

.leftCardDetail{
    float: left;
    background-color: violet;
    text-align: center;
    width: 50%;
}

.rigthCardDetail{
    float: right;
    background-color: greenyellow;
    text-align: center;
    width: 50%;
}

.card-img-detail{
    width:18rem !important;
}





/* Insercion  */


form {
    width: 200px;
    margin: 20px auto;
}

input {
    width: 100%;
    padding: 10px;
}

.poke-card {
    display: none;
    position: fixed;
    z-index: 5;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.poke-card::before {
    content: '';
    background: radial-gradient(black 33%, transparent 33%);
    background-size: 3px 3px;
    border-radius: 4px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
}

.img-container {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.poke-stats div {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
    font-size: 18px;
}

.poke-types div {
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 1px dashed black;
}

.poke-img {
    width: 180px;
    border-radius: 50%;
}